@import "tailwindcss";
@plugin "daisyui" {
    themes: bumblebee --default/*, halloween --prefersdark*/;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
