@import "tailwindcss";
@plugin "daisyui" {
    themes: bumblebee --default/*, halloween --prefersdark*/;
}

@theme inline {
  --font-sans: var(--font-raleway);
  --font-mono: var(--font-cascadia-code);
}
