@import "tailwindcss";
@plugin "daisyui" {
    themes: bumblebee --default, halloween --prefersdark;
}

@theme inline {
  --font-sans: var(--font-raleway-sans);
  --font-mono: var(--font-inconsolata-mono);
}
